body {
  background-color: rgb(5, 5, 88);
}
#qrcode {
  width: 310px;
  height: 310px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
  background: white;
}
h1 {
  text-shadow: 1px 1px 2px #000000, 2px 2px 2px #ffffff;
}
h3,
h1,
#answer,
#change_team {
  color: rgb(194, 194, 194);
  font-family: "Microsoft JhengHei";
  font-weight: bold;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
}
#next_round {
  font-family: "Microsoft JhengHei";
  font-weight: bold;
  background: rgb(223, 223, 223);
  margin: 10px 0 20px 0;
}
.adjust {
  width: 0;
  display: none;
  border: none;
  background: none;
  padding: 0 10px;
}
.fas {
  font-size: 23px;
  color: rgb(194, 194, 194);
}
#answer,
#change_team {
  border: none;
  background: none;
  border: 3px solid rgb(194, 194, 194);
}
#answer:focus,
#change_team:focus,
#next_round:focus {
  outline-width: 0;
}
.clicked,
#change_team:active {
  background: rgb(194, 194, 194) !important;
  color: rgb(5, 5, 88) !important;
}
#container {
  width: 75vw;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}
.row {
  margin: 0;
  padding: 5px 0;
}
.board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 23vw;
  margin: 1vw;
  border: 10px solid rgb(124, 124, 124);
  background-color: rgb(202, 202, 202);
}
.bomb {
  background-color: rgb(214, 182, 182);
}
.text {
  font-size: 38px;
  padding: 4.7vh 0;
  white-space: nowrap;
  font-family: "Microsoft JhengHei";
  font-weight: bold;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
}
@media only screen and (max-width: 955px) {
  #container {
    width: 90vw;
  }
  .item {
    width: 28vw;
    margin: 1vw;
  }
}
@media only screen and (max-width: 760px) {
  .item {
    border: 8px solid rgb(124, 124, 124);
  }
  .text {
    font-size: 30px;
  }
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 33px;
  }
  h3 {
    font-size: 20px;
  }
  .fas {
    font-size: 16px;
  }
  .adjust {
    padding: 0 5px;
  }
  #container {
    width: 96vw;
  }
  .item {
    width: 30vw;
    margin: 1vw;
    border: 7px solid rgb(124, 124, 124);
  }
  .text {
    font-size: 20px;
  }
}
