<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/fungame.css" />
    <title>fungame8</title>
  </head>

  <body>
    <div id="qrcode" style="display: none; text-align: center"></div>
    <div id="container"> 
      <h1>踩地雷</h1>
      <div class="row">
        <div class="col-6">
          <h3>A隊：<span id="a_score">0</span> 分</h3>
          <h3>B隊：<span id="b_score">0</span> 分</h3>
        </div>
        <div class="col-6">
          <h3><span id="current_team">A</span>隊回合</h3>
          <h3>
            <button id="answer">答</button>
            <button id="change_team">換</button>
          </h3>
        </div>
      </div>
      <div class="board">
        <div class="item">
          <a class="a0">
            <div class="w0 text"></div>
          </a>
        </div>
        <div class="item">
          <a class="a1">
            <div class="w1 text"></div>
          </a>
        </div>
        <div class="item">
          <a class="a2">
            <div class="w2 text"></div>
          </a>
        </div>
        <div class="item">
          <a class="a3">
            <div class="w3 text"></div>
          </a>
        </div>
        <div class="item">
          <a class="a4">
            <div class="w4 text"></div>
          </a>
        </div>
        <div class="item">
          <a class="a5">
            <div class="w5 text"></div>
          </a>
        </div>
        <div class="item">
      
          <a class="a6">
            <div class="w6 text"></div>
          </a>
        </div>
        <div class="item">
          <a class="a7">
            <div class="w7 text"></div>
          </a>
        </div>
        <div class="item">
          <a class="a8">
            <div class="w8 text"></div>
          </a>
        </div>
      </div>
      <button id="next_round">下一局</button>
    </div>
    <script src="static/js/words.js"></script>
    <script src="static/js/fungame.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
  <script type="text/javascript" src="/static/jquery.qrcode.min.js"></script>
  <script type="text/javascript" src="/static/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/static/qrcode.js"></script>
  <script>
    var w = {{w | tojson}};
    var a0 = {{a0 | tojson}};
    var a1 = {{a1 | tojson}};
    var a2 = {{a2 | tojson}};
  </script>
</html>
